
/*
==========================
IMPORT PARTIAL SASS FILES
==========================
*/


@import "variables"; //standard variables throughout project



/*
===============================
here starts the hamburger navbar
===============================
*/


@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);
*{
  margin:0;
  padding:0;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
a{
  text-decoration:none;
}
a:hover{
  color: $color-main-title-text-hover;
}
.navbar{
  height:60px;
  background:linear-gradient($mobile-nav-main-background-top, $mobile-nav-main-background-bottom);
  background:-webkit-linear-gradient($mobile-nav-main-background-top, $mobile-nav-main-background-bottom);
  background:-moz-linear-gradient($mobile-nav-main-background-top, $mobile-nav-main-background-bottom);
  font-family:arial;
 }
.contaier{
  margin:auto;
}
.navbar-header{
  padding:0 0;
}
.navbar-brand{
  font-family: 'Lily Script One', arial;
  color: $color-main-title-text;
  padding:0 20px 0px 20px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-right: 5px;
  display: block;
  text-shadow: 0 1px 1px rgba(0,0,0, 0.3);
}
.toggle{
  float:left;
  width: 70px;
  height: 40px;
  padding-top: 2px;
  position: relative;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
  background: linear-gradient($color-hamburger-button-grad-top, $color-hamburger-button-grad-buttom);
  background: -webkit-linear-gradient($color-hamburger-button-grad-top, $color-hamburger-button-grad-buttom);
  background: -moz-linear-gradient($color-hamburger-button-grad-top, $color-hamburger-button-grad-buttom);
  border: 1px solid rgba(0,0,0, 0.3);
  box-shadow: 0 1px 1px rgba(255,255,255, 0.3) ,
              inset 0 2px 1px rgba(255,255,255, 0.3);
  cursor: pointer;
}
.toggle:hover{
  background: $color-hamburger-button-hover;
}
.toggle:active{
  background: $color-hamburger-button-active;
  box-shadow: 0 1px 1px rgba(255,255,255, 0.3) ,
              inset 0 2px 1px rgba(0,0,0, 0.9);
}
.toggle:focus{
  outline: none;
}
.toggle > span{
  display: block;
  border-radius: 2px;
  height: 5px;
  width: 34px;
  background: $color-hamburger-button-stripes;
  margin: auto;
  margin-bottom: 3px;
}
.navcollaps{
  height: 0;
  overflow: hidden;
  background: $color-hamburger-drop-down-border;
  padding: 0 5px;
  width: 150px;
  transition:height .5s;
  -webkit-box-sizing:border-box;
  padding-left: 0px;
  border-radius: 0 0 10px;
  position: relative;
  z-index: 1;
}
.nav > li:first-child{
  padding-top: 5px;
}
.nav > li{
  list-style:none;
  display: block;
}

.nav > li > a{
  padding:10px 10px;
  margin-left: 5px;
  line-height:30px;
  background: $color-hamburger-drop-down-background;
  color: $color-hamburger-drop-down-text;
  display: block;
  border-top: 1px solid $color-hamburger-drop-down-border-top;
  border-bottom: 1px solid $color-hamburger-drop-down-border-bottom;
  transition:padding-left 0.3s;
 }
 .nav > li > a:hover{
  padding-left: 15px;
  color: $color-hamburger-drop-down-text-hover;
 }
 .nav > li:last-child > a{
  border-radius: 0 0 10px 0;
 }
 .nav > li > a:hover{
  background: $color-hamburger-drop-down-background-hover;
 }






@media(min-width:770px){
  .navbar{
  height:60px;
  background:linear-gradient($media770-nav-main-background-top, $media770-nav-main-background-bottom);
  background:-webkit-linear-gradient($media770-nav-main-background-top, $media770-nav-main-background-bottom);
  background:-moz-linear-gradient($media770-nav-main-background-top, $media770-nav-main-background-bottom);
  font-family:arial;
 
}
  .contaier{
    width:750px;
  }
  .navbar-header{
    float:left;
  }
  .navbar-header{
    background: rgba(255,255,255, 0.1);
  }
  .toggle{
    display: none;
  }
  .navcollaps{
    display: block;
    height:0 !important;
    padding-top:10px !important;
    background:transparent !important;
    width: auto;
    margin:0;
    padding:0;
    overflow:visible ;
  }
  .nav{
    margin:0;
    padding:0;
  }
  .nav > li{
    float:left;
    list-style:none;
    padding: 5px;
    
  }
  .nav > li > a{
    border-radius: 5px !important;
    background: transparent;
    padding:0 10px;
    border: none;
  }
  .nav > li > a:hover{
  background:-webkit-linear-gradient($media770-nav-background-hover-top-links-top, $media770-nav-background-hover-top-links-bottom);
  background:-moz-linear-gradient($media770-nav-background-hover-top-links-top, $media770-nav-background-hover-top-links-bottom);
  background:linear-gradient($media770-nav-background-hover-top-links-top, $media770-nav-background-hover-top-links-bottom);
  color: $media770-color-nav-links-text;
 }
  
}
@media(min-width:990px){
  .contaier{
    width:950px;
  }
}


.show{
  height:270px;
}
