/*
==========================
IMPORT PARTIAL SASS FILES
==========================
*/
/*
==========================
COLORS
==========================
*/
html, body {
  margin: 0;
  padding: 0; }

.current-slide {
  display: none;
  margin: 0 auto;
  position: relative;
  width: 100vw;
  list-style-type: none;
  text-align: center; }

.current-slide-active {
  display: block; }

.carousel-toggle {
  display: block;
  width: 15px;
  height: 15px;
  margin: 5px;
  border-radius: 50%;
  border: 1px solid transparent;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: 0.3s; }

.carousel-toggle-active, .carousel-toggle-active:hover, .carousel-toggle:hover {
  background-color: #00c2bb;
  transition: 0.3s; }

.nav-arrows {
  height: 100%;
  width: 10%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
  background: transparent;
  border: none;
  outline: none;
  z-index: 1; }
  .nav-arrows:hover .nav-arrow {
    transition: 0.3s;
    color: #00c2bb; }

.nav-arrow {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  transform: scale(1, 2);
  -webkit-transform: scale(1, 2);
  /* Safari and Chrome */
  -moz-transform: scale(1, 2);
  /* Firefox */
  -ms-transform: scale(1, 2);
  /* IE 9 */
  -o-transform: scale(1, 2);
  /* Opera */ }

.nav-right {
  left: 90%; }
