/*
==========================
IMPORT PARTIAL SASS FILES
==========================
*/
/*
==========================
COLORS
==========================
*/
/*
--------------------------
NAV bar
--------------------------
*/
/*
===============================
here starts the hamburger navbar
===============================
*/
@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

a:hover {
  color: #fff; }

.navbar {
  height: 60px;
  background: linear-gradient(#5b5c60, #0f1010);
  background: -webkit-linear-gradient(#5b5c60, #0f1010);
  background: -moz-linear-gradient(#5b5c60, #0f1010);
  font-family: arial; }

.contaier {
  margin: auto; }

.navbar-header {
  padding: 0 0; }

.navbar-brand {
  font-family: 'Lily Script One', arial;
  color: #e5e7ee;
  padding: 0 20px 0px 20px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-right: 5px;
  display: block;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }

.toggle {
  float: left;
  width: 70px;
  height: 40px;
  padding-top: 2px;
  position: relative;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
  background: linear-gradient(#535458, #1c1d1e);
  background: -webkit-linear-gradient(#535458, #1c1d1e);
  background: -moz-linear-gradient(#535458, #1c1d1e);
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3), inset 0 2px 1px rgba(255, 255, 255, 0.3);
  cursor: pointer; }

.toggle:hover {
  background: #38393b; }

.toggle:active {
  background: #1c1d1e;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3), inset 0 2px 1px rgba(0, 0, 0, 0.9); }

.toggle:focus {
  outline: none; }

.toggle > span {
  display: block;
  border-radius: 2px;
  height: 5px;
  width: 34px;
  background: #6e7074;
  margin: auto;
  margin-bottom: 3px; }

.navcollaps {
  height: 0;
  overflow: hidden;
  background: #0f1010;
  padding: 0 5px;
  width: 150px;
  transition: height .5s;
  -webkit-box-sizing: border-box;
  padding-left: 0px;
  border-radius: 0 0 10px;
  position: relative;
  z-index: 1; }

.nav > li:first-child {
  padding-top: 5px; }

.nav > li {
  list-style: none;
  display: block; }

.nav > li > a {
  padding: 10px 10px;
  margin-left: 5px;
  line-height: 30px;
  background: #404343;
  color: #ccc;
  display: block;
  border-top: 1px solid #353737;
  border-bottom: 1px solid #5e6262;
  transition: padding-left 0.3s; }

.nav > li > a:hover {
  padding-left: 15px;
  color: #fff; }

.nav > li:last-child > a {
  border-radius: 0 0 10px 0; }

.nav > li > a:hover {
  background: #2d2f2f; }

@media (min-width: 770px) {
  .navbar {
    height: 60px;
    background: linear-gradient(#5a8eee, #4066e8);
    background: -webkit-linear-gradient(#5a8eee, #4066e8);
    background: -moz-linear-gradient(#5a8eee, #4066e8);
    font-family: arial; }
  .contaier {
    width: 750px; }
  .navbar-header {
    float: left; }
  .navbar-header {
    background: rgba(255, 255, 255, 0.1); }
  .toggle {
    display: none; }
  .navcollaps {
    display: block;
    height: 0 !important;
    padding-top: 10px !important;
    background: transparent !important;
    width: auto;
    margin: 0;
    padding: 0;
    overflow: visible; }
  .nav {
    margin: 0;
    padding: 0; }
  .nav > li {
    float: left;
    list-style: none;
    padding: 5px; }
  .nav > li > a {
    border-radius: 5px !important;
    background: transparent;
    padding: 0 15px;
    border: none; }
  .nav > li > a:hover {
    background: -webkit-linear-gradient(#d9e2f9, #becdf6);
    background: -moz-linear-gradient(#d9e2f9, #becdf6);
    background: linear-gradient(#d9e2f9, #becdf6);
    color: #4066e8; } }

@media (min-width: 990px) {
  .contaier {
    width: 950px; } }

@media (min-width: 1200px) {
  .contaier {
    width: 1170px; } }

.show {
  height: 270px; }
